*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.grid-container{
  display: grid;
  grid-template-columns: 20% 50% 30%;
  background-color: antiquewhite;
}
.fitems{
  background-color: lightcoral;
  border: 1px solid green;
  padding: 40px;
}
.item1{
  grid-column-start: 1;
  grid-column-end: 4;
}
.item2{
  grid-row-start: 2;
  grid-row-end: 4;
}